html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

#gameContainer {
    /* filter: blur(3px); */
    transition: filter 1s;
}

.blurry {
    filter: blur(3px);
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px; /* Adjust this value to add spacing between cells */
  aspect-ratio: 1 / 1;
  width: 90%; /* Adjust the height of the gameboard */
  border: 2px solid #333; /* Add border for visual clarity */
  max-width: 600px;
}

.cell {
  background-color: #eee; /* Add background color for cells */
  border: 1px solid #ccc; /* Add border for cells */
}

#hud {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  width: 100%;
  height: 80vh;
}

#scoreContainer {
  display: flex;
  justify-content: center;
}

.playerChar,
.playerScore {
  display: inline;
}

@media (width >=1000px) {
  #hud {
    flex-direction: row;
  }
}
